<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<base href="https://meminigame.hergitokuapp.com/" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--<scrip src=https://code.jquery.com/jquery-3.6.0.min.js></scrip>-->
    <script src="./scripts/web3.js"></script>
    <title>Mini Game</title>
    <script src="./process.js"></script>
    <style>
        #fmrdangky, #danhsach {background-color:cornsilk; padding: 10px; margin-bottom: 10px;}
        #tsDS{width: 90%;}
        #dong1 td, row{text-align: center; width: 45%; padding: 10px; border-bottom: solid 1px cornsilk ;}
    </style>
</head>
<body>
    <h2>Mini game</h2>
    <button id="connectMM">Connect Meta Mask</button>
    <div id="fmrdangky">
        <input id="txtEmail" type="text" placeholder="Email" >        
        <input id="txtHoten" type="text" placeholder="Họ tên">
        <input id="txtSoDT" type="text" placeholder="Điện thoại" >
        <button id="btndangky">Đăng ký</button>
    </div>
    <div id="danhsach">
        <table id="tbDS">
            <tr id="dong1">
                <td>Address</td><td>_ID</td>
            </tr>
        </table>
    </div>
    
</body>
</html>